.footer{
    background-color: $color2;
    color: $color4;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    font-family: $font3;
    font-weight: 300;
    a{
        color: $color4;
        text-decoration: none;
        &:hover{
            color: $hover;
        }
    }
}
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    .icon{
        margin: 0 10px;
        font-size: 20px;
        cursor: pointer;
        &:hover{
            color: $hover;
        }
    }
}   