
.logo{
    margin-right: 50px;
}

nav{
    margin-left: auto;
    justify-content: space-between;


    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    a{
        display: inline;
        font-size: medium;
        margin: 4px;
        &:hover{color: $hover}
    }
    }
}
//--clases--//
button{
    box-shadow: 4px 4px 0 0 $color6;
    width: 150px;
    text-align: center;
    font-size: large;
    border-radius: 25px;
    background-color:$color1;
    color: $color3;
    font-family: $font1;
    font-weight: bolder;
    text-decoration: none;
    background-image: $color2;         

}
button:hover, a:focus {
    background-size: 100% 6px;
    transition: background-size 2s;
    background-color: $hover;
}
input{
    width: 40vh;
    box-shadow: 4px 4px 0 0 $color6;}

.header{
    position: sticky;
    background-color: $color5;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    box-shadow: 0 0 50px $color5;
    padding: 0.5rem 1;
}
