
.logo{
    margin-right: 50px;
}

.link{
    text-decoration: none;
    color: paleturquoise;
    display: inline;
    font-size: medium;
    margin: 40px;
    &:hover{color: $hover;
    text-shadow: 3px 3px 0 0 $color3;}

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: $color2;
    color: $color3;
    font-size: 1.5rem;
    font-weight: 600;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    .logo{
        margin-right: 50px;
    }
    .link{
        text-decoration: none;
        color: paleturquoise;
        display: inline;
        font-size: medium;
        margin: 40px;
        &:hover{color: $hover;
        text-shadow: 3px 3px 0 0 $color3;}
    }
}
input{
    width: 40vh;   
    box-shadow: 4px 4px 0 0 $color6;
    border-radius: 25px;

}

.header{
    position: sticky;
    background-color: $color5;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;    
    box-shadow: 0 0 50px $color5;
    padding: 0.5rem 1;
}
