

@import url(https://fonts.googleapis.com/css?family=Montserrat|Tangerine|Inconsolata);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

$font1:'Montserrat';
$font2:'Tangerine';
$font3:'Inconsolata';
$color1: #00ABB3;
$color2:#3C4048;
$color3:#B2B2B2;
$color4: #EAEAEA;
$color5: #DCAC2E;
$color6: #C98474;
$hover:#874C62;

*{
    font-family: $font1;
    margin: 0;
    padding: 0;
    box-sizing: 100px;
}
html, body, #root{
    height: 100%;
    margin: 0;
}
#root{
    display: flex;
    flex-direction: column;
}

@mixin container{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

@import "header";
@import "footer";
@import "main";


.hero_header {
    width: 100%;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
    background: url(../../public/img/hero.jpg) top right no-repeat;
    background-size: cover;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    margin-bottom: 3rem !important;
    box-sizing: border-box;
    display: block;
}